@page
@model MoviesStore.Pages.Movies.ListModel
@{
}

<div class="row">
    <div class="col-sm-6">
        <a href="./Create" class="btn btn-light">Add New Movie</a>
    </div>
    <div class="col-sm-6">
        <form method="post">
            <div class="input-group">
                <input type="search" name="Name" class="form-control rounded" placeholder="Search"
                       aria-label="Search" aria-describedby="search-addon" />
                <button type="submit" class="btn btn-outline-primary">search</button>
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center">
    @foreach (var Movie in Model.Movies)
    {
        <partial name="_MovieData"  model="Movie"/>
    }
</div>


