@model HomeViewModel

<div class="row">
    <partial name="_Carousel"/>
</div>

<div class="row">

    <h2>Pies of the week</h2>

    <h4>Our weekly selection - just for you!</h4>

    @foreach (var pie in @Model.PiesOfTheWeek)
    {
        <partial name="_PieData" model="@pie" />
    }

</div>





